{% extends "templates/web.html" %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}
	{{ doc.name }}
{% endblock %}

{% block header %}
	<!-- <h3 class="m-0">{{ doc.name }}</h3> -->
{% endblock %}

{% block header_actions %}
<div class="row">
	<div class="dropdown">
		<button class="btn btn-sm btn-secondary dropdown-toggle"
			data-toggle="dropdown">
			<span class="font-md">{{ _("Actions") }}</span>
		</button>

		<ul class="dropdown-menu dropdown-menu-right">

			{% if show_make_pi_button %}
			<a class="dropdown-item make-pi-action"
				href="javascript:void(0);">
				{{ _("Create Purchase Invoice") }}
			</a>
			{% endif %}

			<!-- <a class="dropdown-item"
				href="/printview?doctype=BRN&name={{ doc.name }}"
				target="_blank">
				{{ _("Print") }}
			</a> -->

		</ul>
	</div>
</div>
{% endblock %}

{% block page_content %}

<div>

	<div class="row mt-1">
		<div class="col-6 text-muted small">
			{{ frappe.utils.format_date(doc.transaction_date, 'medium') }}
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-10">
			<span class="indicator-pill blue">
				{{ doc.workflow_state or _("Submitted") }}
			</span>
		</div>

		<div class="text-right col-2">
			<!-- <b>{{ doc.existing_vendor }}</b> -->
		</div>
	</div>

	<div class="order-container mt-4">

		<div class="row text-muted">
			<span class="col-5">{{ _("Item") }}</span>
			<span class="col-3">{{ _("Qty") }}</span>
			<span class="col-2">{{ _("Rate") }}</span>
			<span class="col-2 text-right">{{ _("Amount") }}</span>
		</div>

		{% for d in doc.items %}
		<div class="row">
			<div class="col-5">{{ d.item_code }}</div>
			<div class="col-3">{{ d.get_formatted("qty") }}</div>
			<div class="col-2">{{ d.get_formatted("rate") }}</div>
			<div class="col-2 text-right">{{ d.get_formatted("amount") }}</div>
		</div>
		{% endfor %}

	</div>
</div>

<!-- Purchase Invoice Modal -->

<div class="modal fade" id="makePiModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5>{{ _("Create Purchase Invoice") }}</h5>

				<button type="button"
					class="close"
					data-dismiss="modal">
					&times;
				</button>
			</div>

			<div class="modal-body">

				<div class="row mb-3">

					<div class="col-md-6">
						<label>Supplier Invoice No</label>
						<input
							class="form-control"
							id="supplier_invoice_no">
					</div>

					<div class="col-md-6">
						<label>Supplier Invoice Date</label>
						<input
							type="date"
							class="form-control"
							id="supplier_invoice_date">
					</div>

				</div>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Item</th>
							<th>Qty</th>
							<th>Rate</th>
						</tr>
					</thead>

					<tbody id="modal-item-list"></tbody>
				</table>

			</div>

			<div class="modal-footer">
				<button class="btn btn-primary"
					id="create-invoice">
					Create Purchase Invoice
				</button>
			</div>

		</div>
	</div>
</div>

{% endblock %}

{% block script %}

<script>

frappe.ready(function() {

	const items = [
		{% for d in doc.items %}
		{
			item_code: "{{ d.item_code }}",
			qty: {{ d.qty }},
			rate: {{ d.rate }}
		}
		{% if not loop.last %},{% endif %}
		{% endfor %}
	];

	$('.make-pi-action').click(function() {

		let tbody = $('#modal-item-list');
		tbody.empty();

		items.forEach(i => {
			tbody.append(`
				<tr>
					<td>${i.item_code}</td>

					<td>
						<input
							type="number"
							class="form-control qty"
							value="${i.qty}">
					</td>

					<td>
						<input
							type="number"
							class="form-control rate"
							value="${i.rate}">
					</td>

					<td class="text-center">
						<button
							type="button"
							class="btn btn-sm btn-danger delete-row">
							Delete
						</button>
					</td>
				</tr>
			`);
		});

		$('#makePiModal').modal('show');
	});

	$(document).on("click", ".delete-row", function() {
		$(this).closest("tr").remove();
	});

	$('#create-invoice').click(function() {

		let updated = [];

		$('#modal-item-list tr').each(function() {
			updated.push({
				item_code: $(this).find('td:eq(0)').text().trim(),
				qty: parseFloat($(this).find('.qty').val()),
				rate: parseFloat($(this).find('.rate').val())
			});
		});

		if (!updated.length) {
			frappe.msgprint(__("Please keep at least one item."));
			return;
		}

		frappe.call({
			method: "p2p_customization.templates.pages.brn.make_purchase_invoice_from_brn",
			args: {
				brn_name: "{{ doc.name }}",
				items: JSON.stringify(updated),
				supplier_invoice_no: $('#supplier_invoice_no').val(),
				supplier_invoice_date: $('#supplier_invoice_date').val()
			},

			callback: function(r) {
				if (r.message) {
					window.location.href = "/purchase-invoices/" + r.message;
				}
			}
		});

	});

});

</script>

{% endblock %}